# The chip family name
family=mimx9352
# Super Root Key (SRK) set
srk_set=oem
# Used SRK ID
used_srk_id=0
# SRK revoke mask
srk_revoke_mask=0x00
# GDET runtime behavior
gdet_runtime_behavior=disabled
# Fuse version
fuse_version=0
# Software version
sw_version=0
# Signature provider
signature_provider=SRK1_sha256_prime256v1_v3_ca_key.pem
# SRK Table
flag_ca=true
# Super Root Key (SRK) table
srk_array_0=SRK1_sha256_prime256v1_v3_ca_crt.pem
srk_array_1=SRK2_sha256_prime256v1_v3_ca_crt.pem
srk_array_2=SRK3_sha256_prime256v1_v3_ca_crt.pem
srk_array_3=SRK4_sha256_prime256v1_v3_ca_crt.pem
